<mat-sidenav-container>
  <mat-sidenav-content>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-sidenav-content>
  <mat-sidenav #snav mode="side">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">Home</button>
    <button mat-button [routerLink]="['/product']" routerLinkActive="router-link-active">Product</button>
  </mat-sidenav>
</mat-sidenav-container>
