<!-- Dialog title -->
<mat-card mat-dialog-title class="card-title mat-headline mat-elevation-z8">{{ title }}</mat-card>

<mat-card fxLayout="row" fxLayoutGap="16px" mat-dialog-content class="mat-elevation-z4">
  <!-- Formgroup -->
  <form fxFlex="editMode ? 75 : 100" fxLayout="column" [formGroup]="formGroup">
    <!-- Row 1 -->
    <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
      <!-- FirstName -->
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>FirstName</mat-label>
        <input matInput placeholder="FirstName" formControlName="firstName" required autofocus />
        <mat-error *ngIf="get('firstName').invalid">{{ getErrorMessage(get('firstName')) }}</mat-error>
      </mat-form-field>
      <!-- LastName -->
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>LastName</mat-label>
        <input matInput placeholder="LastName" formControlName="lastName" required />
        <mat-error *ngIf="get('lastName').invalid">{{ getErrorMessage(get('lastName')) }}</mat-error>
      </mat-form-field>
    </div>
    <!-- Row 2 -->
    <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
      <!-- Gender -->
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Gender</mat-label>
        <mat-select matInput placeholder="Gender" formControlName="gender" required>
          <mat-option [value]="true">Male</mat-option>
          <mat-option [value]="false">Female</mat-option>
        </mat-select>
        <mat-error *ngIf="get('gender').invalid">{{ getErrorMessage(get('gender')) }}</mat-error>
      </mat-form-field>
      <!-- DateOfBirth -->
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>DateOfBirth</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dateOfBirth" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker locale="en-GB" #picker></mat-datepicker>
        <mat-error *ngIf="get('dateOfBirth').invalid">{{ getErrorMessage(get('dateOfBirth')) }}</mat-error>
      </mat-form-field>
    </div>
    <!-- Row 3 -->
    <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
      <!-- PersonNumber -->
      <mat-form-field appearance="outline" fxFlex="33">
        <mat-label>PersonNumber</mat-label>
        <input matInput placeholder="PersonNumber" formControlName="personNumber" required />
        <mat-error *ngIf="get('personNumber').invalid">{{ getErrorMessage(get('personNumber')) }}</mat-error>
      </mat-form-field>
      <!-- Telephone -->
      <mat-form-field appearance="outline" fxFlex="33">
        <mat-label>Telephone</mat-label>
        <input matInput placeholder="Telephone" formControlName="telephone" required />
        <mat-error *ngIf="get('telephone').invalid">{{ getErrorMessage(get('telephone')) }}</mat-error>
      </mat-form-field>
      <!-- Fax -->
      <mat-form-field appearance="outline" fxFlex="33">
        <mat-label>Fax</mat-label>
        <input matInput placeholder="Fax" formControlName="fax" required />
        <mat-error *ngIf="get('fax').invalid">{{ getErrorMessage(get('fax')) }}</mat-error>
      </mat-form-field>
    </div>
    <!-- Row 4 -->
    <!-- CountryId -->
    <mat-form-field appearance="outline">
      <mat-label>Select country</mat-label>
      <mat-select placeholder="Select country" formControlName="countryId" required>
        <mat-option *ngFor="let country of countries" [value]="country.countryId">
          {{ country.countryName }}
        </mat-option>
        <mat-option>
          <!-- <button mat-flat-button color="primary" (click)="openDialog()">Add New Category</button> -->
        </mat-option>
      </mat-select>
      <mat-error *ngIf="get('countryId').invalid">{{ getErrorMessage(get('countryId')) }}</mat-error>
    </mat-form-field>
  </form>

  <!-- Photo upload for supplier -->
  <div fxLayout="row" fxLayoutGap="16px" *ngIf="editMode" fxFlex>
    <mat-divider [vertical]="true"></mat-divider>
    <app-photo-upload [personId]="dataFromList.personId"></app-photo-upload>
  </div>
</mat-card>
<!-- Action Buttons -->
<div fxLayout="row" fxLayoutGap="16px">
  <div class="fill"></div>
  <button fxFlex="20" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!formGroup.valid">
    Submit
  </button>
  <button fxFlex="20" mat-raised-button color="warn" (click)="onCancel()">
    Cancel
  </button>
  <div class="fill"></div>
</div>
