[mat-dialog-content] {
    margin: 1em;
    padding-top: 20px;
}

.card-title {
    background-color: royalblue;    
    text-align: center;
    color: white;
    margin-bottom: 2em;
    
}

.fill {
    flex: 1 1 auto;
}

.gender-group {
    margin: 0 0 16px 2px;
}
