<!-- Dialog title -->
<mat-card mat-dialog-title class="card-title mat-headline mat-elevation-z8">{{ title }}</mat-card>

<!-- Formgroup -->
<form fxLayout="column" [formGroup]="formGroup">
  <!-- Row 1 -->
  <!-- Gender -->
  <div class="gender-group" fxLayout="row" fxLayoutGap="32px" fxFlex="50">
    <mat-label>Gender</mat-label>
    <mat-radio-group fxLayoutGap="32px" formControlName="gender">
      <mat-radio-button [value]="true">Male</mat-radio-button>
      <mat-radio-button [value]="false">Female</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="get('gender').invalid">{{ getErrorMessage(get('gender')) }}</mat-error>
  </div>

  <!-- Row 2 -->
  <div fxLayout="row" fxLayoutGap="32px" fxLayoutGap.xs="0" fxLayout.xs="column">
    <!-- FirstName -->
    <mat-form-field appearance="outline" fxFlex="50">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="FirstName" formControlName="firstName" required />
      <mat-error *ngIf="get('firstName').invalid">{{ getErrorMessage(get('firstName')) }}</mat-error>
    </mat-form-field>
    <!-- LastName -->
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="LastName" formControlName="lastName" required />
      <mat-error *ngIf="get('lastName').invalid">{{ getErrorMessage(get('lastName')) }}</mat-error>
    </mat-form-field>
  </div>

  <!-- Row 3 -->
  <div fxLayout="row" fxLayoutGap="32px" fxLayoutGap.xs="0" fxLayout.xs="column">
    <!-- DateOfBirth -->
    <mat-form-field appearance="outline" fxFlex="50">
      <mat-label>Date Of Birth</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dateOfBirth" required />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker locale="en-GB" #picker></mat-datepicker>
      <mat-error *ngIf="get('dateOfBirth').invalid">{{ getErrorMessage(get('dateOfBirth')) }}</mat-error>
    </mat-form-field>
    <!-- CountryId -->
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Country</mat-label>
      <mat-select placeholder="Select country" formControlName="countryId" required>
        <mat-option *ngFor="let country of countries" [value]="country.countryId">
          {{ country.countryName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="get('countryId').invalid">{{ getErrorMessage(get('countryId')) }}</mat-error>
    </mat-form-field>
  </div>

  <!-- Row 4 -->
  <div fxLayout="row" fxLayoutGap="32px" fxLayoutGap.xs="0" fxLayout.xs="column">
    <!-- PersonNumber -->
    <mat-form-field appearance="outline" fxFlex="33">
      <mat-label>Person Number</mat-label>
      <input matInput placeholder="PersonNumber" formControlName="personNumber" required />
      <mat-error *ngIf="get('personNumber').invalid">{{ getErrorMessage(get('personNumber')) }}</mat-error>
    </mat-form-field>
    <!-- Telephone -->
    <mat-form-field appearance="outline" fxFlex="33">
      <mat-label>Telephone</mat-label>
      <input matInput placeholder="Telephone" formControlName="telephone" required />
      <mat-error *ngIf="get('telephone').invalid">{{ getErrorMessage(get('telephone')) }}</mat-error>
    </mat-form-field>
    <!-- Fax -->
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Fax</mat-label>
      <input matInput placeholder="Fax" formControlName="fax" required />
      <mat-error *ngIf="get('fax').invalid">{{ getErrorMessage(get('fax')) }}</mat-error>
    </mat-form-field>
  </div>
</form>

<!-- Action Buttons -->
<div fxLayout="row" fxLayoutGap="32px">
  <div class="fill"></div>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!formGroup.valid">
    Submit
  </button>
  <button mat-raised-button color="accent" (click)="onCancel()">
    Cancel
  </button>
  <div class="fill"></div>
</div>
