<!-- Paginator & filter -->
<div class="title mat-paginator-sticky" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="64px">
  <h1>Suppliers</h1>

  <div fxFlex fxLayout="row-reverse">
    <mat-paginator
      [length]="(dataSource.paging | async)?.totalItems"
      [pageSize]="8"
      [pageSizeOptions]="[8, 12, 24, 100]"
      showFirstLastButtons
    ></mat-paginator>

    <mat-form-field fxFlex>
      <span matPrefix><mat-icon>search</mat-icon></span>
      <input matInput type="search" placeholder="Search suppliers" #input />
    </mat-form-field>
  </div>
  <div></div>
</div>

<main class="mat-typography">
  <div #mainSection class="content" fxLayout="row wrap" fxLayoutAlign="center stretch">
    <mat-card
      fxFlex="22"
      *ngFor="let supplier of dataSource.data | async"
      class="card mat-elevation-z8"
      [routerLink]="['/supplier', supplier.personId]"
    >
      <mat-card-header>
        <img mat-card-avatar src="{{ mainPhotoUrl }}" />

        <mat-card-title>{{ supplier.fullName }}</mat-card-title>
        <mat-card-subtitle
          ><div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <div>{{ supplier.gender | gender }}</div>

            <div>
              <star-rating
                [starType]="'svg'"
                [rating]="supplier.rating"
                [showHalfStars]="true"
                [readOnly]="true"
              ></star-rating>
            </div>
          </div>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <table>
          <tr>
            <td>
              <span><mat-icon>cake</mat-icon></span>
            </td>
            <td>{{ supplier.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
          </tr>
          <tr>
            <td>
              <span><mat-icon>phone</mat-icon></span>
            </td>
            <td>{{ supplier.telephone }}</td>
          </tr>
          <tr>
            <td>
              <span><mat-icon>linear_scale</mat-icon></span>
            </td>
            <td>{{ supplier.fax }}</td>
          </tr>
          <tr>
            <td>
              <span><mat-icon>language</mat-icon></span>
            </td>
            <td>{{ supplier.countryName }} - {{ supplier.continentName }}</td>
          </tr>
        </table>
      </mat-card-content>
      <!-- <mat-card-actions fxLayout="row" fxLayoutAlign="center">
        <button mat-icon-button matTooltip="Edit supplier" color="warn" (click)="openDialog()">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Supplier detail"
          color="primary"
          [routerLink]="['/supplier', supplier.personId]"
        >
          <mat-icon>details</mat-icon>
        </button>
      </mat-card-actions> -->
    </mat-card>
  </div>
</main>
