mat-card.main {
  height: calc(100vh - (55px + 8rem));
  overflow: auto;

  .add-btn {
    margin-bottom: 1rem;
  }

  .product {
    width: 250px;

    img {
      width: 100%;
      border-radius: 25px;
    }
  }

  .mat-paginator-sticky {
    bottom: 0.5px;
    position: sticky;
    background: white;
    z-index: 1;
  }
}
