.title.mat-paginator-sticky {
  box-shadow: 0 2px 8px grey;
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;

  > h1 {
    padding: 1rem 0 0 1rem;
    color: royalblue;
  }

}

main {
  > .content {
    mat-card.card {
      margin: 1rem;
      min-width: 230px;
      transform: translateY(0);
      transition: 250ms ease-out;

      mat-card-content {
        table {
          td {
            > span {
              color: royalblue;
              text-align: left;
              padding-right: 1rem;
            }
          }
        }
      }

      &:hover {
        cursor: pointer;
        transform: translate(1rem, -1rem);
        transition: 250ms ease-in;
        background: honeydew;
        box-shadow: 1px 1px 10px 1px gray;
      }
    }
  }
}
