<mat-card>
  <form fxLayout="column" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Product Name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Specification" formControlName="specification">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Price" formControlName="price">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Category" formControlName="categoryId">
        <mat-option *ngFor="let category of categories" [value]="category.categoryId">
          {{category.categoryName}}
        </mat-option>
        <mat-option>
          <button mat-raised-button color="primary" (click)="openDialog()">Add New Category</button>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">
        Submit
      </button>
    </mat-card-actions>

  </form>

</mat-card>
