<mat-card class="card-title mat-elevation-z8">
  <span class="mat-headline">{{title}}</span>
</mat-card>
<mat-card fxLayout="column" fxLayoutGap="32px" class="mat-elevation-z8">

  <form fxLayout="column" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Product Name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Specification" formControlName="specification">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Price" formControlName="price">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Category" formControlName="categoryId">
        <mat-option *ngFor="let category of categories" [value]="category.categoryId">
          {{category.categoryName}}
        </mat-option>
        <mat-option>
          <button mat-raised-button color="primary" (click)="openDialog()">Add New Category</button>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-actions fxLayout="row">
      <div class="fill"></div>
      <button fxFlex="15" mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">
        Submit
      </button>
      <button fxFlex="15" mat-raised-button color="warn" [routerLink]="['/product-buy/list']">
        Cancel
      </button>
      <div class="fill"></div>
    </mat-card-actions>
  </form>
</mat-card>
