<!-- ProductName column -->
<table mat-table [dataSource]="dataSource" class="order-detail-table">
  <ng-container matColumnDef="productName">
    <th mat-header-cell *matHeaderCellDef>Product Name</th>
    <td mat-cell *matCellDef="let row">{{ row.productName }}</td>
  </ng-container>
  <!-- Quantity Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let row">{{ row.quantity | number }}</td>
  </ng-container>
  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let row">{{ row.price | currency }}</td>
  </ng-container>
  <!-- Tax Column -->
  <ng-container matColumnDef="tax">
    <th mat-header-cell *matHeaderCellDef>Tax</th>
    <td mat-cell *matCellDef="let row">{{ row.tax | percent }}</td>
  </ng-container>
  <!-- Rate Column -->
  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef>Rate</th>
    <td mat-cell *matCellDef="let row">{{ row.rate | number }}</td>
  </ng-container>
  <!-- Unit Column -->
  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef>Unit</th>
    <td mat-cell *matCellDef="let row">{{ row.unit }}</td>
  </ng-container>
  <!-- Total Column -->
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let row">{{ row.total | number }}</td>
  </ng-container>
  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <!-- Add Button -->
      <button mat-icon-button color="primary" fxFlexAlign="center" class="add-button">
        <mat-icon matTooltip="Add products" aria-label="Add products">add_box</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let row">
      <button matTooltip="Remove product" aria-label="Add products" mat-icon-button color="warn">
        <mat-icon aria-label="Delete">remove_circle</mat-icon>
      </button>
    </td>
  </ng-container>
  <!-- Header & footer -->
  <tr mat-header-row *matHeaderRowDef="displayedcolumn; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedcolumn"></tr>
</table>
