table.order-detail-table {
  width: 100%;

  & .mat-header-cell {
    background-color: lemonchiffon;
    color: royalblue;
    height: 80px;
    font-size: medium;
  }

  & .mat-cell {
    border-bottom: 1px dotted blueviolet;
    padding: 0 8px;
  }

  & .mat-row:hover {
    cursor: pointer;
    background-color: aliceblue;
  }
}
