<mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
  <mat-form-field>
    <input matInput placeholder="Product Name" value="{{product.name}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Specification" value="{{product.specification}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Price" value="{{product.price}}">
  </mat-form-field>

  <mat-form-field>    
      <mat-select value="{{product.productType}}" placeholder="Product Type">
          <mat-option value="true">Buy</mat-option>
          <mat-option value="false">Sell</mat-option>
      </mat-select>
    </mat-form-field>  

  <mat-form-field>    
    <mat-select value="{{product.categoryId}}" placeholder="Category">
        <mat-option *ngFor="let category of categories" value="{{category.categoryId}}">
          {{category.categoryName}}
        </mat-option>      
    </mat-select>
  </mat-form-field>  
  
</mat-card>


<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">

    <label>
      CategoryId:
      <input type="text" formControlName="categoryId">
    </label>
  
    <label>
      Category Name:
      <input type="text" formControlName="categoryName">
    </label>
  
    <button type="submit" [disabled]="!formGroup.valid">Submit</button>
  
  </form>


