<mat-nav-list>
  <mat-list-item [routerLink]="['/admin/home']" routerLinkActive="active">
    <mat-icon matListIcon class="fas fa-home"></mat-icon>
    <a matLine>Home</a>
  </mat-list-item>

  <mat-list-item [routerLink]="['/admin/product-buy/home']" routerLinkActive="active">
    <mat-icon matListIcon class="fas fa-cookie-bite"></mat-icon>
    <a matLine>Product</a>
  </mat-list-item>

  <mat-list-item [routerLink]="['/admin/supplier/home']" routerLinkActive="active">
    <mat-icon matListIcon class="fas fa-diagnoses"></mat-icon>
    <a matLine>Supplier</a>
  </mat-list-item>

  <mat-list-item [routerLink]="['/admin/order-buy/home']" routerLinkActive="active">
    <mat-icon matListIcon class="fas fa-donate"></mat-icon>
    <a matLine>Order</a>
  </mat-list-item>

  <mat-list-item [routerLink]="['/admin/storage/home']" routerLinkActive="active" >
    <mat-icon matListIcon>storage</mat-icon>
    <a matLine>Storage</a>
  </mat-list-item>
</mat-nav-list>
