.mat-header-cell {
  color: royalblue;
}

.mat-cell {
  padding: 0 8px;
}

.mat-row:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.mat-paginator-sticky {
  bottom: 0.5px;
  position: sticky;
  background: white;
  z-index: 1;
}
