main {
  padding: 1rem;

  mat-progress-bar {
    margin-bottom: 8px;
  }

  .content {
    padding: 0;

    table.main-table {
      width: 100%;

      th {
        color: royalblue;
      }

      .mat-row {
        &:hover {
          cursor: pointer;
          background-color: whitesmoke;
        }

        .avatar > img {
          width: 30px;
          height: 30px;
          border-radius: 15px;
        }
      }
    }

    .mat-paginator-sticky {
      background: white;
    }
  }
}
