<div fxFlex fxLayout="column">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="masterToggle()"
          [checked]="isAllSelected()"
          [indeterminate]="!isAllSelected() && selection.hasValue()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="selection.toggle(row)" [checked]="selection.isSelected(row)"> </mat-checkbox>
      </td>
    </ng-container>
    <!-- orderNumber Column -->
    <ng-container matColumnDef="orderNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <b>Order Number</b>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.orderNumber }}</td>
    </ng-container>
    <!-- dateOfIssue Column -->
    <ng-container matColumnDef="dateOfIssue">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <b>Order's Date</b>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.dateOfIssue | date: 'dd/MM/yyyy' }}</td>
    </ng-container>
    <!-- timeForPayment Column -->
    <ng-container matColumnDef="timeForPayment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Payment's Time</b></th>
      <td mat-cell *matCellDef="let row">{{ row.timeForPayment | date: 'dd/MM/yyyy' }}</td>
    </ng-container>
    <!-- rating Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
      <td mat-cell *matCellDef="let row">
        <app-star-rating [rating]="row.rating" [isEditable]="false" [dataSet]="dataSet"></app-star-rating>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actions"></th>
      <td mat-cell *matCellDef="let row">
        <button matTooltip="Delete order" mat-icon-button color="warn" (click)="deleteOrder(row)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- Header & footer -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
  </table>

  <div fxLayout="row-reverse" class="mat-paginator-sticky">
    <mat-paginator
      fxFlex="70"
      [length]="(dataSource.paging | async)?.totalItems"
      [pageSize]="8"
      [pageSizeOptions]="[8, 16, 25]"
      showFirstLastButtons
    >
    </mat-paginator>

    <mat-form-field fxFlex>
      <input matInput placeholder="Search orders" #input />
    </mat-form-field>
  </div>
</div>
