.main-container {
    margin: 1rem;
  }
  
  .order-card {
    min-height: calc(100vh - 155px);
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 1.3rem;
    margin: 0 1rem 0 0;
    padding: 0;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 2px grey;
  
    & > mat-card-header {
      margin-bottom: 1rem;
      border-radius: 20px 20px 0 0;
      background: mediumslateblue;
      text-align: center;
      justify-content: center;
      justify-items: center;
  
      &.title {
        height: 80px;
        color: white;
        flex: 1;
        justify-content: center;
        align-items: center;
      }
    }
  
    & > mat-card-content {
      margin: 0;
      padding: 0;
      width: 100%;
  
      & .order-table {
        width: 100%;
  
        & tr > td {
          width: 50%;
  
          & > span {
            color: mediumslateblue;
            padding-left: 1rem;
          }
        }
      }
  
      & .payment-remain {
        margin: 2rem 0 1rem 0;
  
        & .title {
          margin-bottom: 1rem;
          height: 60px;
          color: white;
          background: mediumorchid;
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        & table {
          & tr {
            & > td {
              width: 50%;
  
              & > span {
                color: mediumorchid;
                padding-left: 1rem;
              }
            }
          }
  
          & tr.payment-detail-expand > td {
            color: brown;
  
            & button:hover {
              transform: scale(1.2) rotate(-90deg);
              transition: 200ms;
            }
  
            & > span {
              color: brown;
            }
          }
        }
      }
  
      & .latest-payment {
        & .no-payment {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
  
          & > h2 {
            color: plum;
          }
  
          & > .new-payment-fab:hover {
            transition: 200ms;
            transform: scale(1.2);
          }
        }
  
        & .title {
          margin-bottom: 1rem;
          height: 60px;
          color: white;
          background: violet;
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        & table td {
          width: 50%;
  
          & > span {
            color: violet;
            padding-left: 1rem;
          }
        }
      }
    }
  
    & > mat-card-actions {
      margin-bottom: 1rem;
    }
  }
  
  .payment-detail {
    & .no-payment-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      & > h2 {
        color: plum;
      }
  
      & > .new-payment-fab:hover {
        transition: 200ms;
        transform: scale(1.2);
      }
    }
  
    & .payment-detail-title {
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      font-size: larger;
      background: orchid;
  
      height: 40px;
      margin: 1rem 0;
    }
  
    & .payment-detail-content {
      margin: 1rem 0;
      width: 100%;
  
      & tr > td {
        width: 50%;
  
        & > span {
          color: orchid;
          padding-left: 1rem;
        }
      }
    }
  
    & .payment-detail-actions {
      & > button:hover {
        transform: scale(1.2);
      }
    }
  }
  
  mat-card.order-products-detail {
    min-height: calc(100vh - 155px);
    overflow-y: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px grey;
    margin: 0;
    padding: 0;
  
    & table.order-detail-table {
      width: 100%;
  
      & .mat-header-cell {
        background-color: lemonchiffon;
        color: royalblue;
        height: 80px;
        font-size: medium;
      }
  
      & .mat-cell {
        border-bottom: 1px dotted blueviolet;
        padding: 0 8px;
      }
  
      & .mat-row:hover {
        cursor: pointer;
        background-color: aliceblue;
      }
    }
  
    & button.add-product-sticky:hover {
      transform: rotate(-180deg);
      transition: 250ms;
    }
  
    & .no-products {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      & > h2 {
        color: plum;
      }
  
      & > .new-product-fab:hover {
        transition: 200ms;
        transform: rotate(-180deg);
      }
    }
  }