<main class="mat-typography">
    <div fxLayout="row" fxLayoutGap="16px" class="main-container">
      <!-- Order general -->
      <mat-card *ngIf="!isPayment" class="order-card" fxFlex="30">
        <mat-card-header class="title ">
          <mat-card-title>
            <h2>Order {{ order?.orderNumber }}</h2>
          </mat-card-title>
          <mat-card-subtitle>
            <star-rating [starType]="'svg'" [rating]="order.rating" [readOnly]="true"></star-rating>
          </mat-card-subtitle>
        </mat-card-header>
  
        <mat-card-content>
          <!-- Order table -->
          <table class="order-table">
            <tr>
              <td><span>Date</span></td>
              <td>{{ order?.dateOfIssue | date: 'dd/MM/yyyy' }}</td>
            </tr>
            <tr>
              <td><span>Time for Payment</span></td>
              <td>{{ order?.timeForPayment | date: 'dd/MM/yyyy' }}</td>
            </tr>
            <tr>
              <td><span>Supplier</span></td>
              <td>{{ order?.supplierName }}</td>
            </tr>
          </table>
  
          <!-- Payment remain -->
          <div class="payment-remain" fxLayout="column" fxLayoutAlign="start stretch">
            <div class="title"><h3>Payment Total</h3></div>
            <table>
              <tr>
                <td><span>Order Totals</span></td>
                <td>{{ order?.orderTotal | number }}</td>
              </tr>
              <tr>
                <td><span>Payment Totals</span></td>
                <td>{{ order?.paymentTotal | number }}</td>
              </tr>
  
              <tr class="payment-detail-expand">
                <td><span>Remaining</span></td>
                <td>
                  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <span>{{
                      order?.orderTotal - order?.paymentTotal > -0.5 && order?.orderTotal - order?.paymentTotal < 0.5
                        ? 0
                        : (order?.orderTotal - order?.paymentTotal | number)
                    }}</span>
                    <button mat-icon-button matTooltip="Payment details" color="primary" (click)="togglePayment()">
                      <mat-icon>expand_more</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="New payment" color="primary" (click)="openPaymentDialog(null)">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
  
          <!-- Latest payment -->
          <div class="latest-payment" fxLayout="column" fxLayoutAlign="start stretch">
            <div class="title"><h3>Latest Payment</h3></div>
            <table *ngIf="order?.payments?.length > 0; else noPayment">
              <tr>
                <td><span>Date</span></td>
                <td>{{ (order?.payments)[0].paymentDate | date: 'dd/MM/yyyy' }}</td>
              </tr>
              <tr>
                <td><span>Amount</span></td>
                <td>{{ (order?.payments)[0].amount | number }}</td>
              </tr>
              <tr>
                <td><span>Currency</span></td>
                <td>{{ (order?.payments)[0].currency | customCurrency }}</td>
              </tr>
              <tr>
                <td><span>Rate</span></td>
                <td>{{ (order?.payments)[0].rate | number }}</td>
              </tr>
            </table>
  
            <ng-template #noPayment>
              <div class="no-payment">
                <h2>No Payment</h2>
                <button
                  mat-mini-fab
                  matTooltip="Add new payment"
                  class="new-payment-fab"
                  (click)="openPaymentDialog(null)"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </ng-template>
          </div>
        </mat-card-content>
  
        <mat-card-actions align="center">
          <button mat-icon-button matTooltip="Edit order" color="primary" (click)="openOrderDialog()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Order lists" color="accent" [routerLink]="['/admin/order-buy/']">
            <mat-icon>list</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
  
      <!-- Payment details -->
      <mat-card *ngIf="isPayment" class="order-card payment-detail" fxFlex="30">
        <mat-card-header class="title">
          <h2>Payment Details</h2>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="order?.payments?.length > 0; else noPaymentDetail">
            <div *ngFor="let payment of order.payments">
              <div class="payment-detail-title">{{ payment.paymentDate | date: 'dd/MM/yyyy' }}</div>
              <table class="payment-detail-content">
                <tr>
                  <td><span>Amount</span></td>
                  <td>{{ payment.amount }}</td>
                </tr>
                <tr>
                  <td><span>Currency</span></td>
                  <td>{{ payment.currency | customCurrency }}</td>
                </tr>
                <tr>
                  <td><span>Rate</span></td>
                  <td>{{ payment.rate | number }}</td>
                </tr>
              </table>
  
              <div fxLayout="row" fxLayoutAlign="center">
                <button mat-icon-button color="primary" matTooltip="Edit payment" (click)="openPaymentDialog(payment)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" matTooltip="Remove payment" (click)="deletePayment(payment)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </div>
          </div>
  
          <ng-template #noPaymentDetail>
            <div class="no-payment-detail">
              <h2>No Payment</h2>
              <button class="new-payment-fab" mat-mini-fab matTooltip="Add new payment" (click)="openPaymentDialog(null)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </ng-template>
        </mat-card-content>
        <mat-card-actions align="center" class="payment-detail-actions">
          <button mat-icon-button matTooltip="Back" (click)="togglePayment()" color="primary">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
  
      <!-- Product details -->
      <mat-card class="order-products-detail" fxFlex>
        <!-- ProductName column -->
        <table
          *ngIf="order?.products?.length > 0; else noProducts"
          mat-table
          [dataSource]="dataSource"
          class="order-detail-table"
        >
          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef>Product Name</th>
            <td mat-cell *matCellDef="let row">{{ row.productName }}</td>
          </ng-container>
          <!-- Quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let row">{{ row.quantity | number }}</td>
          </ng-container>
          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let row">{{ row.price | currency }}</td>
          </ng-container>
          <!-- Tax Column -->
          <ng-container matColumnDef="tax">
            <th mat-header-cell *matHeaderCellDef>Tax</th>
            <td mat-cell *matCellDef="let row">{{ row.tax | percent }}</td>
          </ng-container>
          <!-- Rate Column -->
          <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef>Rate</th>
            <td mat-cell *matCellDef="let row">{{ row.rate | number }}</td>
          </ng-container>
          <!-- Unit Column -->
          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef>Unit</th>
            <td mat-cell *matCellDef="let row">{{ row.unit }}</td>
          </ng-container>
          <!-- Total Column -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let row">{{ row.total | number }}</td>
          </ng-container>
          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              <button
                mat-mini-fab
                matTooltip="Add new product"
                (click)="openOrderProductDialog(null)"
                class="add-product-sticky"
              >
                <mat-icon>add</mat-icon>
              </button>
            </th>
            <td mat-cell *matCellDef="let row">
              <div fxLayout="row">
                <button
                  mat-icon-button
                  matTooltip="Edit product"
                  aria-label="Edit product"
                  color="primary"
                  (click)="openOrderProductDialog(row)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  matTooltip="Remove product"
                  aria-label="Remove product"
                  color="warn"
                  (click)="deleteOrderProduct(row)"
                >
                  <mat-icon aria-label="Delete">remove</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <!-- Header & footer -->
          <tr mat-header-row *matHeaderRowDef="displayedcolumn; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedcolumn"></tr>
        </table>
  
        <ng-template #noProducts>
          <div class="no-products">
            <h2>No Product</h2>
            <button
              class="new-product-fab"
              mat-mini-fab
              matTooltip="Add new product"
              (click)="openOrderProductDialog(null)"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </ng-template>
      </mat-card>
    </div>
  </main>