.mat-elevation-z8 {
  margin: 1em;
}

.card-title {
  background-color: royalblue;
  text-align: center;
  color: white;
  margin: 1em;
}

.fill {
  flex: 1 1 auto;
}

.step-button>button {
  float: right;

}

.prod-detail {
  flex: 1 1 auto;
}
