main#main {
    padding: 1rem;

    div.pivot-table {
        width: 100%;
        height: calc(100vh - (160px + 1rem));

        table[mat-table] {
            th {
                color: royalblue;
            }
    
            th,td {
                padding: .5rem;
                
                &.actions > mat-icon:hover {
                    cursor: pointer;
                } 
            }
        }
        
    }
}