main {
  > section#supplier-debt {
    > table.supplier-debt {
      th[mat-header-cell] {
        color: royalblue;
      }

      td {
        &.avatar > img {
          width: 40px;
          height: 40px;
          border-radius: 15px;
        }
      }

      tr.expand-detail-row {
        height: 0;
      }

      tr.expand-element-row:hover {
        cursor: pointer;
        background: aliceblue;
      }

      .expand-element-row td {
        border-bottom-width: 0;
      }

      .expand-element-detail {
        overflow: hidden;
        display: flex;

        table.order-expanded {
          width: 100%;

          thead {
            color: royalblue;
          }

          td {
            text-align: right;
            height: 1.6rem;
            padding: 0 1rem;
          }
        }
      }
    }

    > .mat-paginator-sticky {
      position: sticky;
      bottom: 0;
      z-index: 1;
      background: white;

      mat-icon {
        padding-left: 1rem;
      }
    }
  }
}
