<h1>Weather row</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!dataSource"><em>Loading...</em></p>

<!-- <table class='table table-striped' *ngIf="rows">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td>{{ row.dateFormatted }}</td>
      <td>{{ row.temperatureC }}</td>
      <td>{{ row.temperatureF }}</td>
      <td>{{ row.summary }}</td>
    </tr>
  </tbody>
</table> -->

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div *ngIf="dataSource" class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="dateFormatted">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let row"> {{row.dateFormatted}} </td>          
        </ng-container>
    <ng-container matColumnDef="temperatureC">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Temp. (C) </th>
      <td mat-cell *matCellDef="let row"> {{row.temperatureC}} </td>      
    </ng-container>
    <ng-container matColumnDef="temperatureF">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Temp. (F) </th>
      <td mat-cell *matCellDef="let row"> {{row.temperatureF}} </td>
    </ng-container>
    <ng-container matColumnDef="summary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Summary </th>
      <td mat-cell *matCellDef="let row"> {{row.summary}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>    
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
