.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.card-title {
  background-color: royalblue;
  margin-bottom: -15px;
  text-align: center;
  color: aliceblue;

}

div>table[mat-table] {  
  margin: 1em;
  width: 97.5%;
}

[mat-sort-header] {
  color: royalblue;
}

tr.mat-footer-row {
  font-weight: bold;
}
