.fill {
  flex: 1 1 auto;
}

mat-progress-bar {
  margin-bottom: 8px;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

button[mat-mini-fab] {
  align-self: center;
}

.card-title {
  background-color: royalblue;
  margin-bottom: -15px;
  color: white;
  height: 60px;
}

div>table[mat-table] {
  margin: 1em;
}


[mat-sort-header] {
  color: royalblue;
}

tr.mat-footer-row {
  font-weight: bold;
}
