<!-- Dialog title -->
<mat-card class="card-title mat-headline mat-elevation-z8">{{ title }}</mat-card>

<mat-horizontal-stepper class="mat-elevation-z8" linear #stepper>
  <!-- Step 1 -->
  <mat-step [stepControl]="orderForms" label="Order" #order>
    <!-- orderForms -->
    <form fxLayout="column" [formGroup]="orderForms">
      <!-- OrderNumber -->
      <mat-form-field appearance="outline">
        <mat-label>Order Number</mat-label>
        <input matInput placeholder="Order Number" formControlName="orderNumber" required autofocus />
        <mat-error *ngIf="get('orderNumber').invalid">{{ getErrorMessage(get('orderNumber')) }}</mat-error>
      </mat-form-field>
      <!-- DateOfIssue -->
      <mat-form-field appearance="outline">
        <mat-label>Date of Issue</mat-label>
        <input matInput [matDatepicker]="issuePicker" placeholder="Choose a date" formControlName="dateOfIssue" required />
        <mat-datepicker-toggle matSuffix [for]="issuePicker"></mat-datepicker-toggle>
        <mat-datepicker locale="en-GB" #issuePicker></mat-datepicker>
        <mat-error *ngIf="get('dateOfIssue').invalid">{{ getErrorMessage(get('dateOfIssue')) }}</mat-error>
      </mat-form-field>
      <!-- TimeForPayment -->
      <mat-form-field appearance="outline">
        <mat-label>Time for Payment</mat-label>
        <input matInput [matDatepicker]="paymentPicker" placeholder="Choose a date" formControlName="timeForPayment" required />
        <mat-datepicker-toggle matSuffix [for]="paymentPicker"></mat-datepicker-toggle>
        <mat-datepicker locale="en-GB" #paymentPicker></mat-datepicker>
        <mat-error *ngIf="get('timeForPayment').invalid">{{ getErrorMessage(get('timeForPayment')) }}</mat-error>
      </mat-form-field>
      <!-- PersonId -->
      <mat-form-field appearance="outline">
        <mat-label>Supplier</mat-label>
        <mat-select placeholder="Select a supplier" formControlName="personId" required #selectedSupplier>
          <mat-option *ngFor="let supplier of suppliers" [value]="supplier.personId">
            {{ supplier.fullName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="get('personId').invalid">{{ getErrorMessage(get('personId')) }}</mat-error>
      </mat-form-field>
      <!-- EmployeeId -->
      <mat-form-field appearance="outline">
        <mat-label>Employee</mat-label>
        <mat-select placeholder="Select an employee" formControlName="employeeId" required>
          <mat-option *ngFor="let employee of employees" [value]="employee.employeeId">
            {{ employee.fullName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="get('personId').invalid">{{ getErrorMessage(get('personId')) }}</mat-error>
      </mat-form-field>
      <div class="step-button">
        <button mat-button matStepperNext (click)="toDetailStep()">Next</button>
        <button mat-button [routerLink]="['/admin/order-buy']">Cancel</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 2 -->
  <mat-step label="Details" #details>
    <app-order-buy-add-products *ngIf="isDetailStep" [supplierId]="this.orderForms.value.personId" (productOrders)="getProductsToAddFromChild($event)"></app-order-buy-add-products>

    <div class="step-button">
      <button mat-button matStepperNext (click)="getSupplierName()">Next</button>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
  <!-- Step 3 -->
  <mat-step label="Payments" #payments optional>
    <app-order-buy-add-payments (payments)="getPaymentsToAddFromChild($event)"></app-order-buy-add-payments>
    <div class="step-button">
      <button mat-button matStepperNext>Next</button>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
  <!-- Step 4 -->
  <mat-step label="Costs" #costs optional>
    <app-order-buy-add-costs (costs)="getCostsToAddFromChild($event)"></app-order-buy-add-costs>
    <div class="step-button">
      <button mat-button matStepperNext>Next</button>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
  <!-- Step 5 -->
  <mat-step label="Reviews" #reviews>
    <div class="order-review">
      <table class="order">
        <tr>
          <td><span>Order number</span></td>
          <td>{{ orderForms.value.orderNumber }}</td>
        </tr>
        <tr>
          <td><span>Date of issue</span></td>
          <td>{{ orderForms.value.dateOfIssue | date: 'dd/MM/yyyy' }}</td>
        </tr>

        <tr>
          <td><span>Payment's time</span></td>
          <td>{{ orderForms.value.timeForPayment | date: 'dd/MM/yyyy' }}</td>
        </tr>
        <tr>
          <td><span>Supplier</span></td>
          <td>{{ supplierName }}</td>
        </tr>
      </table>

      <table class="line-items">
        <tr>
          <th colspan="6">
            <mat-card class="table-title">
              <h2 class="mat-h2">Order items</h2>
            </mat-card>
          </th>
        </tr>
        <tr class="header">
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Tax</th>
          <th>Rate</th>
          <th>Unit</th>
        </tr>

        <tr class="row-content" *ngFor="let product of productsToAdd">
          <td>{{ product?.productName }}</td>
          <td>{{ product?.quantity }}</td>
          <td>{{ product?.price | currency }}</td>
          <td>{{ product?.tax | percent }}</td>
          <td>{{ product?.rate }}</td>
          <td>{{ product?.unit }}</td>
        </tr>
      </table>

      <table class="payments">
        <tr>
          <th colspan="4">
            <mat-card class="table-title">
              <h2 class="mat-h2">Payments</h2>
            </mat-card>
          </th>
        </tr>
        <tr class="header">
          <th>Payment Date</th>
          <th>Amount</th>
          <th>Rate</th>
          <th>Currency</th>
        </tr>
        <tr class="row-content" *ngFor="let payment of paymentsToAdd">
          <td>{{ payment?.paymentDate | date: 'dd/MM/yyyy ' }}</td>
          <td>{{ payment?.amount | number }}</td>
          <td>{{ payment?.rate | number }}</td>
          <td>{{ payment?.currency | customCurrency }}</td>
        </tr>
      </table>
    </div>
    <div class="step-button">
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
