main#main {
  padding-top: 1rem;
  max-width: 1200px;
  margin: auto;

  mat-horizontal-stepper {
    .step-button > button {
      margin-top: 1rem;
      float: right;
    }

    .prod-detail {
      flex: 1 1 auto;
    }

    .order-review {
      & table.order {
        text-align: left;
        margin: 1rem 0 2rem 0;

        & td > span {
          color: royalblue;
          line-height: 1.5rem;
          margin-right: 2rem;
        }
      }

      & table.line-items {
        width: 100%;
        border-collapse: collapse;

        & .table-title {
          color: royalblue;
          text-align: center;
          margin-bottom: 1rem;
        }

        & tr.header td {
          color: royalblue;
          text-align: left;
          height: auto;
          padding: 1rem;
          border-collapse: collapse;
          border-bottom: 1px solid lightsalmon;
        }

        & tr.row-content {
          &:hover {
            cursor: pointer;
            background-color: whitesmoke;
          }

          & td {
            height: auto;
            padding: 1rem;
            border-collapse: collapse;
            border-bottom: 1px dotted lightsalmon;
          }
        }
      }

      & table.payments {
        margin-top: 3rem;
        border-collapse: collapse;
        width: 100%;

        & .table-title {
          color: royalblue;
          text-align: center;
          margin-bottom: 1rem;
        }

        & tr.header td {
          color: royalblue;
          text-align: left;
          height: auto;
          padding: 1rem;
          border-collapse: collapse;
          border-bottom: 1px solid lightsalmon;
        }

        & tr.row-content {
          &:hover {
            cursor: pointer;
            background-color: whitesmoke;
          }

          & td {
            height: auto;
            padding: 1rem;
            border-collapse: collapse;
            border-bottom: 1px dotted lightsalmon;
          }
        }
      }

      & table.costs {
        margin-top: 3rem;
        border-collapse: collapse;
        width: 100%;

        & .table-title {
          color: royalblue;
          text-align: center;
          margin-bottom: 1rem;
        }

        & tr.header td {
          color: royalblue;
          text-align: left;
          height: auto;
          padding: 1rem;
          border-collapse: collapse;
          border-bottom: 1px solid lightsalmon;
        }

        & tr.row-content {
          &:hover {
            cursor: pointer;
            background-color: whitesmoke;
          }

          & td {
            height: auto;
            padding: 1rem;
            border-collapse: collapse;
            border-bottom: 1px dotted lightsalmon;
          }
        }
      }
    }
  }
}
