main#main {
  padding: 1rem;

  .year-selection {
    position: sticky;
    top: 0;
    left: 0;
  }

  div.pivot-table {
    table[mat-table] {
      th {
        color: royalblue;
      }

      td > mat-icon:hover {
        cursor: pointer;
      }

      th,
      td {
        padding: 0.5rem;
        // text-overflow: ellipsis;
        // white-space: nowrap;
      }
    }
  }
}
