.title-group {
  padding: 0;
}

mat-tab-group.tab-group {
  height: calc(100vh - (64px + 3rem));

  mat-tab.main-tab {
    .main {
      .card-content {
        .edit-form {
          form {
            margin-bottom: 2rem;
          }
        }

        div.photos {
          padding-top: 1rem;

          div.supplier-photos {
            div.photo {
              display: flex;
              flex-direction: column;
              align-items: center;

              &:hover {
                cursor: pointer;

                img.image {
                  opacity: 0.75;
                  transition: 250ms ease-out;
                  transform: scale(1.2);
                }

                div.img-btn {
                  padding: 0 1rem;
                  background: white;
                  border-radius: 50px;
                  opacity: 1;
                  transform: translateY(-5rem);
                  transition: 250ms ease-in;
                }
              }

              img.image {
                border-radius: 20px;
                width: 150px;
                height: 150px;
                transition: 200ms ease-in;
                transform: scale(1);
              }

              div.img-btn {
                display: flex;
                justify-content: center;
                opacity: 0;
                transform: translateY(0);
                transition: 200ms ease-out;
              }
            }
          }

          div.photo-upload {
            margin-top: 2rem;

            button.upload-icon-btn {
              transform: scale(1);
              transition: 200ms ease-in;

              &:hover {
                transform: scale(1.2);
                transition: 200ms ease-out;
              }
            }
          }

          div.no-photo {
            div {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 10px;
              background: whitesmoke;
              width: 150px;
              height: 150px;
              opacity: 0.75;
            }
          }
        }
      }
    }
  }

  mat-tab.products-tab {
    padding: 0;
    margin: 0;
  }
}
