<!-- Loading progress bar -->
<mat-progress-bar *ngIf="(dataSource.isLoading | async)" color="accent" aria-label="Progress bar" mode="buffer">
</mat-progress-bar>

<div fxLayout="column">
  <!-- Title -->
  <mat-card class="mat-elevation-z8 card-title" fxLayout="row">
    <span class="fill"></span>
    <span class="mat-headline">{{ title }}</span>
    <span class="fill"></span>

    <button mat-mini-fab matTooltip="Go to Sell" [routerLink]="['/category-sell']">
      Buy
    </button>
  </mat-card>

  <!-- Table -->
  <table #table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="masterToggle()"
          [checked]="isAllSelected()"
          [indeterminate]="!isAllSelected() && selection.hasValue()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="selection.toggle(row)" [checked]="selection.isSelected(row)"> </mat-checkbox>
      </td>
    </ng-container>
    <!-- CategoryId Column -->
    <ng-container matColumnDef="categoryId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Category ID</b></th>
      <td mat-cell *matCellDef="let row">{{ row.categoryId }}</td>
    </ng-container>
    <!-- CategoryName Column -->
    <ng-container matColumnDef="categoryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Category Name</b></th>
      <td mat-cell *matCellDef="let row">{{ row.categoryName }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell mat-header-cell *matHeaderCellDef class="actions">
        <button mat-icon-button color="primary" (click)="openDialog()">
          <mat-icon matTooltip="Create new category" aria-label="Create new category">add_circle</mat-icon>
        </button>

        <button
          *ngIf="selection.hasValue()"
          matTooltip="Delete selected categories"
          mat-icon-button
          color="warn"
          (click)="onDeleteSeleted()"
        >
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row">
        <button matTooltip="Category detail" mat-icon-button color="primary" (click)="onDetail(row)">
          <mat-icon aria-label="Detail">list_alt</mat-icon>
        </button>

        <button matTooltip="Edit category" mat-icon-button color="accent" (click)="onEdit(row)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button matTooltip="Delete category" mat-icon-button color="warn" (click)="onDelete(row)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
  </table>

  <!-- Paginator & filter -->
  <mat-card fxLayout="row-reverse" class="mat-paginator-sticky">
    <mat-paginator
      fxFlex="60"
      [length]="(dataSource.paging | async)?.totalItems"
      [pageSize]="8"
      [pageSizeOptions]="[8, 16, 25]"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>

    <mat-form-field fxFlex>
      <input matInput placeholder="Search categories" #input />
    </mat-form-field>
  </mat-card>
</div>
