<mat-card>
  <form [formGroup]="formGroup" (ngSubmit)="login()"
  fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field>
        <input matInput placeholder="Enter your username" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your password" formControlName="password"
          [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">
          {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary">Login</button>
    </mat-card-actions>
  </form>
</mat-card>
