.fill {
  flex: 1 1 auto;
}

mat-progress-bar {
  margin-bottom: 8px;
}

.mat-header-row {
  position: sticky;
  top: 0;
  background-color: honeydew;
  height: 40px;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
  background-color: whitesmoke;
  height: 60px;
}

.mat-paginator {
  background-color: transparent;
}

table[mat-table] {  
  width: 100%;
}

[mat-sort-header] {
  color: royalblue;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 0 8px;
}
