<div id="main" fxLayout="row" fxLayoutGap="2rem">
  <div id="form" fxFlex="25">
    <!-- detailForm -->
    <form [formGroup]="detailForm" novalidate fxLayout="column" fxLayoutAlign="start stretch">
      <!-- ProductId -->
      <mat-form-field appearance="outline">
        <mat-label>Select a product</mat-label>
        <mat-select placeholder="Select a product" formControlName="productId" required>
          <mat-option *ngFor="let product of products" [value]="product">
            {{ product.productName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="get('productId').invalid">{{ getErrorMessage('productId', 'Product') }}</mat-error>
      </mat-form-field>
      <!-- Quantity -->
      <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" placeholder="Quantity" formControlName="quantity" required />
        <mat-error *ngIf="get('quantity').invalid">{{ getErrorMessage('quantity', 'Quantity') }}</mat-error>
      </mat-form-field>
      <!-- Price -->
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput type="number" placeholder="Price" formControlName="price" required />
        <mat-error *ngIf="get('price').invalid">{{ getErrorMessage('price', 'Price') }}</mat-error>
      </mat-form-field>
      <!-- Tax -->
      <mat-form-field appearance="outline">
        <mat-label>Tax</mat-label>
        <input matInput type="number" placeholder="Tax" formControlName="tax" required />
        <mat-error *ngIf="get('tax').invalid">{{ getErrorMessage('tax', 'Tax') }}</mat-error>
      </mat-form-field>
      <!-- Rate -->
      <mat-form-field appearance="outline">
        <mat-label>Rate</mat-label>
        <input matInput type="number" placeholder="Rate" formControlName="rate" required />
        <mat-error *ngIf="get('rate').invalid">{{ getErrorMessage('rate', 'Rate') }}</mat-error>
      </mat-form-field>
      <!-- Unit -->
      <mat-form-field appearance="outline">
        <mat-label>Unit</mat-label>
        <input matInput placeholder="Unit" formControlName="unit" required />
        <mat-error *ngIf="get('unit').invalid">{{ getErrorMessage('unit', 'Unit') }}</mat-error>
      </mat-form-field>
      <!-- Add icon -->
      <button mat-mini-fab color="primary" fxFlexAlign="center" matTooltip="Add product" aria-label="Add product" (click)="addProduct()">
        <mat-icon>add</mat-icon>
      </button>
    </form>
  </div>

  <!-- Order details table -->
  <table id="table" fxFlex *ngIf="productsToAdd?.length > 0; else noProducts">
    <tr>
      <th colspan="7">
        <div class="table-title">
          <h2 class="mat-h2">{{ tableTitle }}</h2>
        </div>
      </th>
    </tr>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Tax</th>
      <th>Rate</th>
      <th>Unit</th>
      <th></th>
    </tr>
    <tr class="row-content" *ngFor="let product of productsToAdd">
      <td>{{ product?.productName }}</td>
      <td>{{ product?.quantity }}</td>
      <td>{{ product?.price | currency }}</td>
      <td>{{ product?.tax | percent }}</td>
      <td>{{ product?.rate }}</td>
      <td>{{ product?.unit }}</td>
      <td>
        <button mat-icon-button color="warn" matTooltip="Remove item" (click)="removeProduct(product)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </td>
    </tr>
  </table>

  <!-- Only show if no product on table -->
  <ng-template #noProducts>
    <div>
      <h1 class="mat-h1">No products!</h1>
      <p>Enter values on the left then click <mat-icon color="primary">add_circle</mat-icon> button to add new product</p>
    </div>
  </ng-template>
</div>
