<div fxLayout="row" fxLayoutGap="32px">
  <mat-card fxLayout="column" fxLayoutAlign="space-around center" fxFlex="20" class="mat-elevation-z1">
    <mat-card-content [ngClass]="{ 'ng-file-over': hasBaseDropZoneOver }" class="drop-zone">
      <div ng2FileDrop (fileOver)="fileOverBase($event)" [uploader]="uploader">
        <i class="fa fa-upload drop-zone-icon"></i>
      </div>
      <span>Drop Photos</span>
    </mat-card-content>

    <span>Or</span>

    <button mat-button color="primary" (click)="fileChosen.click()">Select Files</button>
    <span style="visibility: hidden">
      <input type="file" #fileChosen ng2FileSelect [uploader]="uploader" multiple />
    </span>
  </mat-card>

  <div *ngIf="uploader?.queue?.length" fxFlex>
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="upload-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td>{{ item?.file?.name }}</td>
          <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size / 1024 / 1024 | number: '.2' }} MB</td>
          <td *ngIf="uploader.options.isHTML5">
            <mat-progress-bar mode="determinate" [value]="item.progress"></mat-progress-bar>
          </td>
          <td>
            <mat-icon *ngIf="item.isSuccess">done</mat-icon>
            <mat-icon *ngIf="item.isCancel">not_interested</mat-icon>
            <mat-icon *ngIf="item.isError">clear</mat-icon>
          </td>

          <td fxLayout="row" fxLayoutAlign="center">
            <button
              mat-icon-button
              color="primary"
              (click)="item.upload()"
              [disabled]="item.isReady || item.isUploading || item.isSuccess"
            >
              <mat-icon matTooltip="Upload" aria-label="Upload">cloud_upload</mat-icon>
            </button>

            <button mat-icon-button color="accend" (click)="item.cancel()" [disabled]="!item.isUploading">
              <mat-icon matTooltip="Cancel" aria-label="Cancel">cancel</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="item.remove()">
              <mat-icon matTooltip="Remove" aria-label="Remove">delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <mat-progress-bar class="progress-all" mode="determinate" [value]="uploader.progress"></mat-progress-bar>

    <div fxLayout="row" fxLayoutGap="16px">
      <button
        mat-stroked-button
        color="primary"
        (click)="uploader.uploadAll()"
        [disabled]="!uploader.getNotUploadedItems().length"
      >
        <mat-icon>cloud_upload</mat-icon>
        Upload All
      </button>
      <button mat-stroked-button color="accend" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
        <mat-icon>cancel</mat-icon>
        Cancel All
      </button>
      <button mat-stroked-button color="warn" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        <mat-icon>delete</mat-icon>
        Remove All
      </button>
    </div>
  </div>
</div>
