main {
  padding: 1rem;

  mat-card.month-review {
    h1.title {
      color: salmon;
    }
    > div.review {
      > div.value > h1 {
        color: dodgerblue;
      }

      > div.cost > h1 {
        color: dodgerblue;
      }

      > div.count > h1 {
        font-size: xx-large;
        color: salmon;
      }
    }
  }

  mat-card.debt {
    margin-top: 1rem;
  }

  mat-card.latest-order {
    margin-top: 1rem;
    padding: 0;

    h1.title {
      background: mediumslateblue;
      height: 100px;
      width: 100%;
      text-align: center;
      color: white;
      padding-top: 1rem;
    }

    .avatar {
      box-sizing: border-box;
      position: absolute;
      margin-top: 60px;
      width: 100px;
      height: 100px;
      z-index: 10;
      border: 5px solid white;
      border-radius: 100px;
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }

    .rating {
      padding-top: 1rem;
    }

    .content {
      padding: 0 1rem 1rem 1rem;

      > div > mat-icon {
        font-size: 32px
      }
    }
  }
}

mat-button-toggle {
  // color: white;
  // background: #4CAF50;
}

mat-button-toggle.mat-button-toggle-checked,
mat-button-toggle.cdk-focused,
mat-button-toggle.cdk-mouse-focused {
  color: white;
  background: #3f51b5;
}
