<div fxLayout="row" fxLayoutGap="16px" class="main-container">
  <mat-card *ngIf="!isPayment" class="order-card" fxFlex="30">
    <mat-card-header class="title ">
      <h2>Order {{ order?.orderNumber }}</h2>
    </mat-card-header>

    <mat-card-content>
      <!-- Order table -->
      <table class="order-table">
        <tr>
          <td><span>Date</span></td>
          <td>{{ order?.dateOfIssue | date: 'dd/MM/yyyy' }}</td>
        </tr>
        <tr>
          <td><span>Time for Payment</span></td>
          <td>{{ order?.timeForPayment | date: 'dd/MM/yyyy' }}</td>
        </tr>
        <tr>
          <td><span>Supplier</span></td>
          <td>{{ order?.supplierName }}</td>
        </tr>
      </table>

      <!-- Payment remain -->
      <div class="payment-remain" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="title"><h3>Payment Total</h3></div>
        <table>
          <tr>
            <td><span>Order Totals</span></td>
            <td>{{ order?.orderTotal | number }}</td>
          </tr>
          <tr>
            <td><span>Payment Totals</span></td>
            <td>{{ order?.paymentTotal ? order.paymentTotal : (0 | number) }}</td>
          </tr>

          <tr class="payment-detail-expand">
            <td><span>Remaining</span></td>
            <td>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <span>{{ order?.orderTotal - order?.paymentTotal | number }}</span>
                <button mat-icon-button matTooltip="Payment details" color="primary" (click)="togglePayment()">
                  <mat-icon>expand_more</mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Latest payment -->
      <div class="latest-payment" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="title"><h3>Latest Payment</h3></div>
        <table *ngIf="order?.payments?.length > 0; else noPayment">
          <tr>
            <td><span>Date</span></td>
            <td>{{ (order?.payments)[0].paymentDate | date: 'dd/MM/yyyy' }}</td>
          </tr>
          <tr>
            <td><span>Amount</span></td>
            <td>{{ (order?.payments)[0].amount | number }}</td>
          </tr>
          <tr>
            <td><span>Currency</span></td>
            <td>{{ (order?.payments)[0].currency | customCurrency }}</td>
          </tr>
          <tr>
            <td><span>Rate</span></td>
            <td>{{ (order?.payments)[0].rate | number }}</td>
          </tr>
        </table>

        <ng-template #noPayment>
          <div class="no-payment">
            <h2 class="mat-h2">No Payment</h2>
            <button mat-mini-fab matTooltip="Add new payment" class="new-payment-fab" (click)="openPaymentDialog(null)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </ng-template>
      </div>
    </mat-card-content>

    <mat-card-actions align="center">
      <button mat-icon-button matTooltip="Edit order" color="primary" (click)="openOrderDialog()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Order lists" color="accent" [routerLink]="['/order-buy/']">
        <mat-icon>list</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- Payment details -->

  <mat-card *ngIf="isPayment" class="order-card payment-detail" fxFlex="30">
    <mat-card-header class="title">
      <h2>Payment Details</h2>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="order?.payments?.length > 0; else noPaymentDetail">
        <div *ngFor="let payment of order.payments">
          <div class="payment-detail-title">{{ payment.paymentDate | date: 'dd/MM/yyyy' }}</div>
          <table class="payment-detail-content">
            <tr>
              <td><span>Amount</span></td>
              <td>{{ payment.amount }}</td>
            </tr>
            <tr>
              <td><span>Currency</span></td>
              <td>{{ payment.currency | customCurrency }}</td>
            </tr>
            <tr>
              <td><span>Rate</span></td>
              <td>{{ payment.rate | number }}</td>
            </tr>
          </table>
        </div>
      </div>

      <ng-template #noPaymentDetail>
        <div class="no-payment-detail">
          <h2 class="mat-h2">No Payment</h2>
          <button class="new-payment-fab" mat-mini-fab matTooltip="Add new payment"><mat-icon>add</mat-icon></button>
        </div>
      </ng-template>
    </mat-card-content>
    <mat-card-actions align="center" class="payment-detail-actions">
      <button mat-icon-button matTooltip="Back" (click)="togglePayment()" color="primary">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- Product details -->
  <mat-card class="order-products-detail" fxFlex *ngIf="order?.products?.length > 0">
    <app-order-buy-product-details [products]="order.products"></app-order-buy-product-details>
  </mat-card>
</div>
