<div class="background"></div>

<ul class="circle-container">
  <li>
    <a [routerLink]="['/product-buy']"><img src="http://lorempixel.com/100/100/food"/></a>
  </li>
  <!-- <li>
    <a [routerLink]="['/product-buy']">
      <button mat-icon-button color="primary">
        <mat-icon style="font-size: 64px">shopping_card</mat-icon>
      </button>
    </a>
  </li> -->
  <li><img src="http://lorempixel.com/100/100/nature" /></li>
  <li><img src="http://lorempixel.com/100/100/abstract" /></li>
  <li><img src="http://lorempixel.com/100/100/cats" /></li>
  <li><img src="http://lorempixel.com/100/100/food" /></li>
  <li><img src="http://lorempixel.com/100/100/animals" /></li>
  <li><img src="http://lorempixel.com/100/100/business" /></li>
  <li><img src="http://lorempixel.com/100/100/people" /></li>
  <li><img src="http://lorempixel.com/100/100/people" /></li>
  <li><img src="http://lorempixel.com/100/100/people" /></li>
</ul>
