main {
  padding: 1rem;

  mat-progress-bar {
    margin-bottom: 8px;
  }

  > .title {
    > h1 {
      color: royalblue;
    }

    button.more-setting {
      padding-right: 4rem;
    }
  }

  > .content {
    padding: 0;

    table.main-table {
      width: 100%;

      th,
      td {
        padding: 0 0.5rem;
        // text-overflow: ellipsis;
        // white-space: nowrap;
      }

      th {
        color: royalblue;
      }

      .mat-row {
        &:hover {
          cursor: pointer;
          background-color: whitesmoke;
        }

        .avatar > img {
          width: 40px;
          height: 40px;
          border-radius: 15px;
        }
      }
    }

    .mat-paginator-sticky {
      // position: sticky;
      // bottom: 0;
      // z-index: 10;
      // background: white;
    }
  }
}
