<!-- Dialog title -->
<h1 mat-dialog-title class="mat-display-1">{{ title }}</h1>

<mat-dialog-content>
  <!-- Formgroup -->
  <form class="edit-form" fxLayout="column" [formGroup]="formGroup">
    <!-- Rating -->
    <star-rating-control formControlName="rating" [starType]="'svg'" labelText="Rating"></star-rating-control>

    <!-- OrderNumber -->
    <mat-form-field appearance="outline">
      <mat-label>Order Number</mat-label>
      <input matInput placeholder="Order Number" formControlName="orderNumber" autofocus required />
      <mat-error *ngIf="get('orderNumber').invalid">{{ getErrorMessage(get('orderNumber')) }}</mat-error>
    </mat-form-field>

    <!-- DateOfIssue -->
    <mat-form-field appearance="outline">
      <mat-label>Date of Issue</mat-label>
      <input
        matInput
        [matDatepicker]="issuePicker"
        placeholder="Choose a date"
        formControlName="dateOfIssue"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="issuePicker"></mat-datepicker-toggle>
      <mat-datepicker locale="en-GB" #issuePicker></mat-datepicker>
      <mat-error *ngIf="get('dateOfIssue').invalid">{{ getErrorMessage(get('dateOfIssue')) }}</mat-error>
    </mat-form-field>

    <!-- TimeForPayment -->
    <mat-form-field appearance="outline">
      <mat-label>Time for Payment</mat-label>
      <input
        matInput
        [matDatepicker]="paymentPicker"
        placeholder="Choose a date"
        formControlName="timeForPayment"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="paymentPicker"></mat-datepicker-toggle>
      <mat-datepicker locale="en-GB" #paymentPicker></mat-datepicker>
      <mat-error *ngIf="get('timeForPayment').invalid">{{ getErrorMessage(get('timeForPayment')) }}</mat-error>
    </mat-form-field>

    <!-- EmployeeId -->
    <mat-form-field appearance="outline">
      <mat-label>Employee</mat-label>
      <input
        appMatAutocompleteTriggerEnforceSelection
        matInput
        formControlName="employee"
        [matAutocomplete]="autoEmployee"
        #employeeInput
        required
      />
      <mat-error *ngIf="get('employee').invalid">{{ getErrorMessage(get('employee')) }}</mat-error>
    </mat-form-field>

    <mat-autocomplete #autoEmployee="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let employee of filteredEmployees" [value]="employee">{{ employee.fullName }}</mat-option>
    </mat-autocomplete>

    <!-- PersonId -->
    <mat-form-field appearance="outline">
      <mat-label>Supplier</mat-label>
      <mat-select placeholder="Select a supplier" formControlName="personId" disabled>
        <mat-option *ngFor="let supplier of suppliers" [value]="supplier.personId">
          {{ supplier.fullName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="get('personId').invalid">{{ getErrorMessage(get('personId')) }}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<!-- Action Buttons -->
<mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
  <div fxFlex></div>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!formGroup.valid">
    Submit
  </button>
  <button mat-button (click)="onCancel()">
    Cancel
  </button>
  <div fxFlex></div>
  <button mat-icon-button color="primary" matTooltip="More detail" (click)="goToDetail()">
    <mat-icon>list_alt</mat-icon>
  </button>
</mat-dialog-actions>
