table {
  border-collapse: collapse;
  width: 100%;
}

.table-title {
  font: xx-large bolder;
  color: yellowgreen;
  background-color: cornsilk;
  text-align: center;
}

th {
  font: 400 bolder;
  color: steelblue;
  text-align: left;
}

th,
td {
  height: auto;
  border-bottom: 1px solid orange;
  padding: 8px;
}

tr.row-content:hover {
  cursor: pointer;
  background-color: whitesmoke;
}
