main#main {
    padding: 1rem;

    .year-selection {
        position: sticky;
        top: 0;
        left: 0;
    }

    div.pivot-table {
        height: calc(100vh - (150px + 1rem));

        table[mat-table] {
            width: 100%;

            th {
                color: royalblue;
            }

            td > mat-icon:hover {
                cursor: pointer;
            }
    
            th,td {
                padding: .5rem;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

           
        }
        
    }
}