mat-expansion-panel-header {
  display: flex;
  align-items: center;

  mat-icon {
    padding-right: 1rem;
    &.expand {
      color: mediumvioletred;
    }
  }
}

.active {
  mat-icon {
    color: deeppink;
  }
}
