<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">

    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <div [routerLink]="['/home']" routerLinkActive="router-link-active">
      <a><img src="./assets/logo.png"></a>
      <button mat-button>Shine App</button>
    </div>

    <span class="fill"></span>

    <button mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">Home</button>
    <button mat-button [routerLink]="['/customer']" routerLinkActive="router-link-active">Customer</button>
    <button mat-button [routerLink]="['/customer/list']" routerLinkActive="router-link-active">CustomerList</button>
    <button mat-button [routerLink]="['/product-buy']" routerLinkActive="router-link-active">Product</button>
    <button mat-button [routerLink]="['/product-buy/list']" routerLinkActive="router-link-active">ProductList</button>

  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="side-nav">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <mat-accordion multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Products
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div routerLink='/product-buy/list' routerLinkActive="active">
            <a mat-list-item>Products List</a>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Admin
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div routerLink='/admin/manager-user' routerLinkActive="active">
            <a mat-list-item>Manager User</a>
          </div>
          <div routerLink='/admin/manager-role' routerLinkActive="active">
            <a mat-list-item>Manager Role</a>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Logins
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div routerLink='/login' routerLinkActive="active">
            <a mat-list-item>
              <mat-icon>account_circle_outlined</mat-icon>
              Login
            </a>
          </div>
          <div routerLink='' routerLinkActive="active">
            <a mat-list-item (click)="logout()">
              <mat-icon>power_settings_new</mat-icon>
              Logout
            </a>
          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
