.fill {
  flex: 1 1 auto;
}

.toolbar {
  box-shadow: 5px 2px 15px 2px grey;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  [routerLinkActive] {
    cursor: pointer;
  }

  .home-logo {
    font-size: larger;
  }

  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: url("http://lorempixel.com/50/50/people");
    background-position: center;
    background-size: cover;
  }
}

mat-sidenav-container.side-nav {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;

  > mat-sidenav {
    min-width: 250px;

    mat-card.avatar {
      background-image: url("../../assets/images/sidenav-avatar-bg.jpg");
      background-size: cover;

      .user-avatar {
        text-align: center;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-image: url("http://lorempixel.com/100/100/people");
        background-position: center;
        background-size: cover;
      }

      h3 {
        color: mediumslateblue;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
