.fill {
  flex: 1 1 auto;
}

.toolbar {  
  margin-bottom: 20px;
  box-shadow: 5px 2px 15px 2px grey;  
  position: sticky;
  top: 0;
}

.toolbar [routerLinkActive] {
  cursor: pointer;
}

.home-logo {
  font-size: larger;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url("http://lorempixel.com/50/50/people");
  background-position: center;
  background-size: cover;
}

.side-nav {
  min-height: calc(100vh - 80px);
}

.side-nav>mat-sidenav {
  margin-inline-start: -20px;
  min-width: 200px;
}

.main-container {
  margin: 0 80px;
  min-height: calc(100vh - 80px);
  
  overflow: hidden;
  
  

  
}

.main-container-mobile {
  margin: 0;
  overflow: hidden;
}

.active {
  color: royalblue;
}

mat-nav-list>div[routerLink] {
  cursor: pointer;
}

.mat-expansion-panel-header.mat-expanded {
  font-size: larger;
  background-color: powderblue;
}

.footer {
  
  bottom: 0;
  
}


