.fill {
  flex: 1 1 auto;
}

.toolbar {
  box-shadow: 5px 2px 15px 2px grey;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  [routerLinkActive] {
    cursor: pointer;
  }

  .home-logo {
    font-size: larger;
  }

  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: url("http://lorempixel.com/50/50/people");
    background-position: center;
    background-size: cover;
  }
}

.side-nav {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;

  .active {
    color: royalblue;
  }

  mat-nav-list > div[routerLink] {
    cursor: pointer;
  }

  .mat-expansion-panel-header.mat-expanded {
    font-size: larger;
    background-color: powderblue;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
