.fill {
  flex: 1 1 auto;
}

mat-toolbar [routerLinkActive] {
  cursor: pointer;
}

.home-logo {
  font-size: larger;
}

mat-toolbar {
  margin-bottom: 16px;
}

.side-nav {
  height: 90vh;  
}

.side-nav>mat-sidenav {
  margin-inline-start: -20px;
}

.main-container {  
  margin: 0 20px 0 20px;
}

.active {
  color: royalblue;
}

mat-nav-list>div[routerLink] {
  cursor: pointer;
}

.mat-expansion-panel-header.mat-expanded {  
  font-size: larger;
  background-color: powderblue;
}


