mat-card.top-orders {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    width: 100%;
    height: 80px;
    padding-top: 0.5rem;
    background: mediumslateblue;
    color: white;

    mat-icon {
      padding-top: 0.5rem;
      padding-left: 1rem;
      font-size: 48px;
    }

    h1 {
      padding-top: 0.5rem;
    }
  }

  .content {
    padding-top: 1rem;
    padding-left: 1rem;

    .value {
      padding-left: 1rem;
      color: #3f51b5;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .mat-card-actions {
    position: relative;
    bottom: 1.5rem;
    margin-top: auto;

    mat-button-toggle.mat-button-toggle-checked {
      color: white;
      background: #3f51b5;
    }
  }
}
