mat-card.main {
  padding: 0;

  div.pie-chart-group {
    align-self: center;

    h1 {
      color: deeppink;
      padding-left: 1rem;
    }
  }

  div.main-content {
    padding-top: 1rem;

    h1 {
      padding-left: 1rem;
      color: #3f51b5;
    }

    mat-expansion-panel .mat-table {
      width: 100%;
      padding-left: 1rem;
      margin-bottom: 2rem;
    }
  }
}
