div.main {
  > .title {
    padding-top: 1rem;
    padding-left: 1rem;
    > h1 {
      color: royalblue;
    }
  }

  > .content {
    padding: 0;

    table.main-table {
      width: 100%;

      th,
      td {
        padding: 0 0.5rem;
      }

      th {
        color: royalblue;
      }

      .mat-row.parent-row {        
        &:hover {
          cursor: pointer;
          background-color: whitesmoke;          
        }
      }

      .mat-row.expand-row {        
        height: 0;       
        
        th, td {
          padding: 0;
          border: none;
        }
      }
    }

    .mat-paginator-sticky {
      position: sticky;
      bottom: 0;
      z-index: 10;
      background: white;

      mat-icon {
        padding-left: 1rem;
      }
    }
  }
}
