<mat-card fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="start start" fxLayoutGap="16px" class="mat-elevation-z8">
  <mat-card fxFlex="25">
    <mat-card-header>
      <div mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="example-header-image"></div>
      <mat-card-title>{{supplier?.firstName}} {{supplier?.lastName}}</mat-card-title>
      <mat-card-subtitle>{{supplier?.gender | gender}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <table>
        <tr>
          <td class="col-1">Full Name</td>
          <td class="col-2">{{supplier?.firstName}} {{supplier?.lastName}}</td>
        </tr>
        <tr>
          <td class="col-1">Age</td>
          <td class="col-2">{{supplier?.dateOfBirth | age}}</td>
        </tr>
        <tr>
          <td class="col-1">Telephone</td>
          <td class="col-2"> {{supplier?.telephone}}</td>
        </tr>
        <tr>
          <td class="col-1">Fax</td>
          <td class="col-2"> {{supplier?.fax}}</td>
        </tr>
        <tr>
          <td class="col-1">Continent</td>
          <td class="col-2"> {{supplier?.continentName}}</td>
        </tr>
        <tr>
          <td class="col-1">Country</td>
          <td class="col-2"> {{supplier?.countryName}}</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
      <button fxFlex="30" mat-raised-button color="warn" (click)="openDialog()">Edit</button>
      <button fxFlex="30" mat-raised-button color="primary" [routerLink]="['/supplier/list']">Suppliers</button>
    </mat-card-actions>
  </mat-card>

  <button fxFlexAlign="center" mat-fab color="primary" (click)="toggleAddProduct()">
    <mat-icon matTooltip="Add products" aria-label="Add products">add_circle_outline</mat-icon>
  </button>

  <div *ngIf="!isAddProducts" fxFlex fxLayout="column" class="mat-elevation-z2 product-table">
    <!-- ProductName column -->
    <table mat-table #table [dataSource]="products">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Product Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <!-- Specification Column -->
      <ng-container matColumnDef="specification">
        <th mat-header-cell *matHeaderCellDef> Specification </th>
        <td mat-cell *matCellDef="let row"> {{row.specification}} </td>
      </ng-container>
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let row"> {{row.price | currency}} </td>
      </ng-container>
      <!-- CategoryName Column -->
      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let row"> {{row.categoryName}} </td>
      </ng-container>
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell mat-header-cell *matHeaderCellDef class="actions">
          <button mat-icon-button color="primary" (click)="addProducts()">
            <mat-icon matTooltip="Add products" aria-label="Add products">add_circle</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button matTooltip="Delete product" mat-icon-button color="warn" (click)="DeleteProductFromSupplier(row.productId)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <!-- Header & footer -->
      <tr mat-header-row *matHeaderRowDef="displayedcolumn; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedcolumn"></tr>
    </table>
    <mat-paginator class="mat-paginator-sticky" [pageSize]="25" fxFlex="50" [pageSizeOptions]="[8, 16, 25, 100]"
      showFirstLastButtons></mat-paginator>
  </div>
  <div *ngIf="isAddProducts" class="product-table">
    <app-add-products-for-supplier></app-add-products-for-supplier>
  </div>
</mat-card>
