<mat-card fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" class="mat-elevation-z8">
  <!-- Card detail -->
  <mat-card fxFlex="25" fxFlex.xs="100">
    <mat-card-header>
      <img mat-card-avatar src="{{ mainPhotoUrl }}" />

      <mat-card-title>{{ supplier.fullName }}</mat-card-title>
      <mat-card-subtitle>{{ supplier.gender | gender }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="column" fxLayoutGap="16px">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

      <table>
        <tr>
          <td class="col-1">Full Name</td>
          <td class="col-2">{{ supplier.fullName }}</td>
        </tr>
        <tr>
          <td class="col-1">Age</td>
          <td class="col-2">{{ supplier.dateOfBirth | age }}</td>
        </tr>
        <tr>
          <td class="col-1">Telephone</td>
          <td class="col-2">{{ supplier.telephone }}</td>
        </tr>
        <tr>
          <td class="col-1">Fax</td>
          <td class="col-2">{{ supplier.fax }}</td>
        </tr>
        <tr>
          <td class="col-1">Continent</td>
          <td class="col-2">{{ supplier.continentName }}</td>
        </tr>
        <tr>
          <td class="col-1">Country</td>
          <td class="col-2">{{ supplier.countryName }}</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
      <button fxFlex="30" mat-raised-button color="warn" (click)="openDialog()">
        Edit
      </button>
      <button fxFlex="30" mat-raised-button color="primary" [routerLink]="['/supplier/list']">
        Lists
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- Button Group -->
  <div class="more-button" fxLayout.xs="row" fxLayout="column" fxLayoutGap="64px">
    <!-- More/Less button -->
    <button *ngIf="!multiButton" mat-mini-fab color="primary" (click)="toggleMultiButton()">
      <mat-icon>expand_more</mat-icon>
    </button>
    <button *ngIf="multiButton" mat-mini-fab color="primary" (click)="toggleMultiButton()">
      <mat-icon>expand_less</mat-icon>
    </button>

    <!-- Expand buttons -->
    <div
      class="expand-buttons"
      *ngIf="multiButton"
      fxLayout="column"
      fxLayout.xs="row"
      fxLayoutAlign="center"
      fxLayoutGap="16px"
    >
      <button *ngIf="!isGallery" mat-mini-fab (click)="toggleGallery()">
        <mat-icon matTooltip="Gallery">photo_library</mat-icon>
      </button>
      <button *ngIf="!isAdd" mat-mini-fab (click)="toggleAdd()">
        <mat-icon matTooltip="Add products" aria-label="Add products">add</mat-icon>
      </button>
      <button *ngIf="!isList" mat-mini-fab (click)="toggleList()">
        <mat-icon matTooltip="Products list" aria-label="Products list">list</mat-icon>
      </button>
      <button *ngIf="!isUpload" mat-mini-fab (click)="toggleUpload()">
        <mat-icon matTooltip="Upload photos" aria-label="Upload photos">cloud_upload</mat-icon>
      </button>
    </div>
  </div>

  <!-- Table details-->
  <div fxFlex class="product-table">
    <div *ngIf="isGallery" fxLayoutAlign="center center">
      <app-person-photo-gallery
        [photos]="supplier.photos"
        (newMainPhoto)="refreshSetMainPhoto($event)"
      ></app-person-photo-gallery>
    </div>
    <div *ngIf="isUpload">
      <app-photo-upload [uploadUrl]="photoUploadUrl" (newPhoto)="refreshPhotoUpload($event)"></app-photo-upload>
    </div>
    <div *ngIf="isList">
      <app-products-added></app-products-added>
    </div>
    <div *ngIf="isAdd">
      <app-products-not-added [title]="title"></app-products-not-added>
    </div>
  </div>
</mat-card>

<star-rating size="small" [starType]="'svg'" [rating]="4"></star-rating>
