<mat-card fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column" fxLayout.sm="column" class="mat-elevation-z8">
  <mat-card fxFlex="25">
    <mat-card-header>
      <div
        mat-card-avatar
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        class="example-header-image"
      ></div>
      <mat-card-title>{{ supplier?.firstName }} {{ supplier?.lastName }}</mat-card-title>
      <mat-card-subtitle>{{ supplier?.gender | gender }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <table>
        <tr>
          <td class="col-1">Full Name</td>
          <td class="col-2">{{ supplier?.firstName }} {{ supplier?.lastName }}</td>
        </tr>
        <tr>
          <td class="col-1">Age</td>
          <td class="col-2">{{ supplier?.dateOfBirth | age }}</td>
        </tr>
        <tr>
          <td class="col-1">Telephone</td>
          <td class="col-2">{{ supplier?.telephone }}</td>
        </tr>
        <tr>
          <td class="col-1">Fax</td>
          <td class="col-2">{{ supplier?.fax }}</td>
        </tr>
        <tr>
          <td class="col-1">Continent</td>
          <td class="col-2">{{ supplier?.continentName }}</td>
        </tr>
        <tr>
          <td class="col-1">Country</td>
          <td class="col-2">{{ supplier?.countryName }}</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
      <button fxFlex="30" mat-raised-button color="warn" (click)="openDialog()">
        Edit
      </button>
      <button fxFlex="30" mat-raised-button color="primary" [routerLink]="['/supplier/list']">
        Lists
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- Add button -->
  <button fxFlexAlign="center" mat-fab (click)="toggleAddProduct()">
    <mat-icon *ngIf="!isAddProducts" matTooltip="Add products" aria-label="Add products">add</mat-icon>
    <mat-icon *ngIf="isAddProducts" matTooltip="Products list" aria-label="Products list">list</mat-icon>
  </button>

  <!-- Table -->
  <div fxFlex class="product-table">
    <div *ngIf="!isAddProducts">
      <app-products-added></app-products-added>
    </div>
    <div *ngIf="isAddProducts">
      <app-products-not-added [title]="title"></app-products-not-added>
    </div>
  </div>
</mat-card>
