.mat-elevation-z8 {
  margin: 1em;
}

.product-table {
  width: 100%;
  height: calc(100vh - 155px);
  overflow-y: auto;
}

.mat-paginator-sticky {
  bottom: 0;
  position: sticky;
  z-index: 10;
}

.mat-header-cell {
  background-color: aliceblue;
  color: royalblue;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 0 8px;
}

.col-1 {
  font-weight: 500;
  line-height: 20px;
  color: royalblue;
  padding-right: 1em;
}

.col-2 {
  padding-left: 1em;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
