<div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="32px">
  <!-- Dialog title -->
  <h1 mat-dialog-title class="mat-display-1">{{ title }}</h1>

  <mat-dialog-content>
    <!-- Formgroup -->
    <form class="edit-form" fxLayout="column" [formGroup]="formGroup">
      <!-- Product Name -->
      <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input matInput placeholder="Product Name" formControlName="productName" required autofocus />
        <mat-error *ngIf="get('productName').invalid">{{ getErrorMessage(get('productName')) }}</mat-error>
      </mat-form-field>
      <!-- Specification -->
      <mat-form-field appearance="outline">
        <mat-label>Specification</mat-label>
        <input matInput placeholder="Specification" formControlName="specification" required />
        <mat-error *ngIf="get('specification').invalid">{{ getErrorMessage(get('specification')) }}</mat-error>
      </mat-form-field>
      <!-- CategoryId -->
      <mat-form-field appearance="outline">
        <mat-label>Select category</mat-label>
        <mat-select placeholder="Select category" formControlName="categoryId" required>
          <mat-option *ngFor="let category of categories" [value]="category.categoryId">
            {{ category.categoryName }}
          </mat-option>
          <mat-option>
            <button mat-flat-button color="primary" (click)="openDialog()">Add New Category</button>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="get('categoryId').invalid">{{ getErrorMessage(get('categoryId')) }}</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <!-- Action Buttons -->
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!formGroup.valid">
      Submit
    </button>
    <button mat-button (click)="onCancel()">
      Cancel
    </button>
  </mat-dialog-actions>
</div>
