h1[mat-dialog-title] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: white;
  background: slateblue;
  box-shadow: 3px 2px 15px 2px darkslategrey;
}

mat-dialog-content {
  margin: 1em 1em;
}
