<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="32px">
  <!-- Card gallery -->
  <mat-card fxFlex="30" fxFlex.xs fxFlex.sm class="photo-gallery">
    <mat-card-content>
      <app-product-photo-gallery *ngIf="product.photos" [photos]="photos"></app-product-photo-gallery>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-fab class="upload-fab-button" (click)="toggleUploadPhoto()">
        <mat-icon matTooltip="Upload photos">cloud</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="main-content" fxFlex>
    <div *ngIf="!isUploadPhoto" fxLayout="column" fxLayoutAlign="space-between">
      <mat-card-header class="title">
        <h1>{{ product.productName }}</h1>
      </mat-card-header>

      <mat-card-content class="product-table">
        <table>
          <tr>
            <td><span>Name</span></td>
            <td>{{ product.productName }}</td>
          </tr>
          <tr>
            <td><span>Specification</span></td>
            <td>{{ product.specification }}</td>
          </tr>
          <tr>
            <td><span>Category</span></td>
            <td>{{ product.categoryName }}</td>
          </tr>
        </table>
      </mat-card-content>

      <mat-card-footer fxLayout="row" class="sticky-bottom" ngClass.gt-sm="desktop" fxFlexAlign="end">
        <button mat-icon-button color="primary" matTooltip="Edit product" (click)="onEdit()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" matTooltip="Products list" (click)="onList()">
          <mat-icon>list</mat-icon>
        </button>
      </mat-card-footer>
    </div>

    <app-photo-upload
      *ngIf="isUploadPhoto"
      [uploadUrl]="photoUploadUrl"
      (newPhoto)="refreshPhotoUpload($event)"
    ></app-photo-upload>
  </mat-card>
</div>
